---
# tasks file for kibana
- name: Fetch OS
  include: Debian.yml
  when:
    - ansible_version < '2.4'
    - ansible_os_family == "Debian"

- name: Fetch OS
  include_tasks: Debian.yml
  when:
    - ansible_version >= '2.4'
    - ansible_os_family == "Debian"

- name: Fetch OS
  include: Redhat.yml
  when:
    - ansible_version < '2.4'
    - ansible_os_family == "RedHat"


- name: Fetch OS
  include_tasks: Redhat.yml
  when:
    - ansible_version >= '2.4'
    - ansible_os_family == "RedHat"
